<ion-view title="关于我们" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>单反企鹅俱乐部</h1>
            <div class="about_cnt">
                单反企鹅俱乐部，单反企鹅俱乐部，单反企鹅俱乐部
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">联系我们</h1>
                <div class="mod_detail_info">
                    <p>Email：{{data.company_email}}</p>
                    <p>手机：{{data.company_phone}}</p>
                </div>
            </div>
        </section>

    </ion-content>
</ion-view>
