<ion-view title="{{companyData.company_name}}" class="mod_detail company">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{companyData.company_name}}</h1>
            <div class="company_intro">
                {{companyData.company_intro}}
            </div>

            <div class="company_jobs">
                <div class="company_jobs_hd">
                    <h2 class="positive">在聘职位</h2>
                </div>
                <div class="company_jobs_bd">
                    <div class="list company_jobs_list">
                        <a class="item" href="#/app/tabs/jobs/{{item.jobs_id}}" ng-repeat="item in jobsData">
                            {{item.jobs_name}}
                            <time>{{item.jobs_push_date}}</time>
                        </a>
                    </div>
                </div>
            </div>

        </section>



    </ion-content>
</ion-view>
