<ion-view title="{{data.title}}" class="mod_detail company">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>公司名称</h1>
            <div class="company_intro">
                XX投资由XXX于2007年创立。作为一家天使投资公司，主要集中于互联网、无线、互动娱乐等高科技领域，是一家快速成长中的投资公司。
            </div>

            <div class="company_jobs">
                <div class="company_jobs_hd">
                    <h2 class="positive">在聘职位</h2>
                </div>
                <div class="company_jobs_bd">
                    <div class="list company_jobs_list">
                        <a class="item" href="#">
                            前端开发
                            <time>2014-09-20</time>
                        </a>
                        <a class="item" href="#">
                            设计师
                            <time>2014-09-20</time>
                        </a>
                        <a class="item" href="#">
                            高级产品经理高级产
                            <time>2014-09-20</time>
                        </a>
                    </div>
                </div>
            </div>

        </section>



    </ion-content>
</ion-view>
