<ion-view title="{{data.events_title}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.events_title}}</h1>
            <div class="row">
                <div class="col">
                    活动发起人：<span>{{data.events_organizer}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">名额：{{data.events_users_num}}人</div>
                <div class="col">城市：{{data.events_city}}</div>
            </div>
            <div class="row">
                <div class="col">活动时间：{{data.events_start_time}}</div>
            </div>
            <div class="row">
                <div class="col">报名截止：{{data.events_end_time}}</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">分享嘉宾</h1>
                <div class="mod_detail_info">
                    {{data.events_guests}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">活动简介</h1>
                <div class="mod_detail_info">
                    {{data.events_detail}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">地址与交通指引</h1>
                <div class="mod_detail_info">
                    {{data.events_address}}
                </div>
            </div>
        </section>


        <!--报名人数-->
        <div class="mod_user_list">
            <div class="mod_user_list_hd positive">
                已报名人员
            </div>
            <div class="mod_user_list_bd">
                <ul class="list">
                    <li class="item">
                        华宇果
                        <span class="item-note">13528822552</span>
                    </li>
                    <li class="item">
                        华宇果
                        <span class="item-note">13528822552</span>
                    </li>
                    <li class="item">
                        华宇果
                        <span class="item-note">13528822552</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mod_detail_action">

            <button class="button button-full button-positive" ng-hide="control">
                我要报名
            </button>

            <button class="button button-full button-positive" ng-show="control">
                修改活动
            </button>
            <button class="button button-full button-assertive" ng-show="control">
                删除活动
            </button>

            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i><span>{{data.events_zan}}</span> 已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
