<ion-header-bar class="bar-stable bar-positive">
    <h1 class="title">{{events_title}}</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeReg()">关闭</button>
    </div>
</ion-header-bar>
<ion-content>
    <form name="events_form" class="mod_form" ng-submit="eventsSubmit(events_form,image.resized)">
        <div class="list">

            <div class="upload">
                <div class="upload_hd">活动头图</div>
                <div class="upload_bd">
                    <img ng-model="image" ng-src="{{image.resized.dataURL || editimage}}" src="./img/upload.jpg"/>
                    <input type="file"
                           class="upload_inp"
                           accept="image/*"
                           image="image"
                           resize-max-height="300"
                           resize-max-width="150"
                           resize-quality="0.7"
                            />
                </div>
            </div>

            <label class="item item-input">
                <span class="input-label">活动标题</span>
                <input type="text" name="events_title" placeholder="活动简短标题" ng-model="data.events_title" required>
                <input type="hidden" name="events_id" value="{{data.events_id}}" />
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_title.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_title.$invalid && events_form.events_title.$dirty"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">城市</span>
                <select ng-options="m.name as m.name for m in cityData"
                        ng-model="data.events_city">
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">活动开始时间</span>
                <input type="date" name="events_start_time" ng-model="data.events_start_time" required />
                <!--<input type="text" pick-a-date="date" placeholder="Select Date" /> {{ date }}-->
                <!--<input type="text" pick-a-time="time" placeholder="Select Time" /> {{ time }}-->
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_start_time.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_start_time.$invalid && events_form.events_start_time.$dirty"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">活动结束时间</span>
                <input type="date" name="events_end_time" ng-model="data.events_end_time" required />
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_end_time.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_end_time.$invalid && events_form.events_end_time.$dirty"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">活动名额</span>
                <input type="text" name="events_quota" ng-model="data.events_quota" required />
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_quota.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_quota.$invalid && events_form.events_quota.$dirty"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">分享嘉宾</span>
                <input type="text" name="events_guests" ng-model="data.events_guests" required />
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_guests.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_guests.$invalid && events_form.events_guests.$dirty"></i>
            </label>
            <label class="item item-text-wrap">
                <span class="input-label">活动详情</span>
                <textarea rows="3" ng-model="data.events_detail" required>
                </textarea>
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_detail.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_detail.$invalid && events_form.events_detail.$dirty"></i>
            </label>
            <label class="item item-text-wrap">
                <span class="input-label">地址及交通</span>
                <textarea rows="3" ng-model="data.events_address" required>
                </textarea>
                <i class="icon ion-checkmark-circled balanced" ng-show="events_form.events_address.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="events_form.events_address.$invalid && events_form.events_address.$dirty"></i>
            </label>

        </div>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">{{events_btn}}</button>
        </div>
    </form>
</ion-content>

