<ion-view title="{{event_title}}">
    <ion-content class="has-header">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="search" placeholder="搜索活动" ng-model="keyword">
            </label>
            <button class="button button-small" ng-click="searchEvents(keyword)">
                搜索
            </button>
        </div>

        <ion-list class="events_list">
            <div ng-if="event_type == 'userlist'">
                <a class="button button-full button-positive" href="#/app/tabs/events_add">发布活动</a>
            </div>
            <ion-item ng-repeat="item in data" href="#/app/tabs/events/{{item.events_id}}">
                <h2 class="positive">{{item.events_title}} </h2>
                <div class="events_info">
                    <img src="http://img.qian-duan-she-ji.us/140" alt="图片名称" />
                    <div class="events_info_cnt">
                        <div><time>{{item.events_start_time}}</time></div>
                        <div class="events_detail" ng-show="item.events_detail">
                            {{item.events_detail}}
                        </div>
                        <div class="events_detail" ng-show="item.events_users_num">
                            <div class="events_detail_item">
                                报名人数：<strong>{{item.events_users_num}}</strong>
                            </div>
                            <div class="events_detail_item">
                                已有<strong>{{item.events_zan}}</strong>人点赞
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <div class="no_data" ng-hide="data.length">
                暂时没有相关数据！
                <p><a class="button button-positive" href="#/app/tabs/events_add">发布活动</a></p>
            </div>
        </ion-list>

        <!--<ion-infinite-scroll-->
                <!--ng-if="!noMoreItemsAvailable"-->
                <!--on-infinite="loadMore()"-->
                <!--distance="10%">-->
                <!--</ion-infinite-scroll>-->

    </ion-content>
</ion-view>
