<ion-header-bar class="bar-stable bar-positive">
    <h1 class="title">{{events_title}}</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeReg()">关闭</button>
    </div>
</ion-header-bar>
<ion-content>
    <form name="events_form"  ng-submit="eventsSubmit(events_form)">
        <div class="list">

            <div class="upload">
                <div class="upload_hd">活动头图</div>
                <div class="upload_bd">
                    <input id="inputImage2"
                           type="file"
                           accept="image/*"
                           image="image2"
                           resize-max-height="300"
                           resize-max-width="250"
                           resize-quality="0.7" />
                </div>
                <div class="upload_ft">
                    <img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
                </div>
            </div>



            <h2>Single image with resizing</h2>
            <div>
                <label for="inputImage2">Image 2</label>


                <p>Resized</p>

                <button type="submit" ng-click="single(image2.resized)" disabled>Add</button>
            </div>


            <label class="item item-input">
                <span class="input-label">活动标题</span>
                <input type="text" name="events_title" placeholder="活动简短标题" ng-model="data.events_title" requiredrequired ng-minlength="5">
                <input type="hidden" name="events_id" value="{{data.events_id}}"/>
            </label>
            <label class="item item-input">
                <span class="input-label">城市</span>
                <select ng-options="m.name as m.name for m in cityData"
                        ng-model="data.events_city">
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">活动开始时间</span>
                <input type="date" name="events_start_time" ng-model="data.events_start_time" />
            </label>
            <label class="item item-input">
                <span class="input-label">报名结束时间</span>
                <input type="date" name="events_end_time" ng-model="data.events_end_time" />
            </label>
            <label class="item item-input">
                <span class="input-label">活动名额</span>
                <input type="text" name="events_quota" ng-model="data.events_quota" requiredrequired />
            </label>
            <label class="item item-input">
                <span class="input-label">分享嘉宾</span>
                <input type="text" name="events_guests" ng-model="data.events_guests" requiredrequired />

                </textarea>
            </label>
            <label class="item item-text-wrap">
                <span class="input-label">活动详情</span>
                <textarea rows="3" ng-model="data.events_detail" requiredrequired>
                </textarea>
            </label>
            <label class="item item-text-wrap">
                <span class="input-label">地址及交通</span>
                <textarea rows="3" ng-model="data.events_address" requiredrequired>
                </textarea>
            </label>

        </div>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">{{events_btn}}</button>
        </div>
    </form>
</ion-content>

