<ion-view title="我的收藏">
    <ion-content class="has-header">

        <div class="card">
            <div class="item item-divider">
                收藏的项目
            </div>
            <div class="item item-text-wrap">
                暂无
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                收藏的服务
            </div>
            <div class="item item-text-wrap">
                暂无
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                收藏的人才
            </div>
            <div class="item item-text-wrap">
                暂无
            </div>
        </div>


    </ion-content>
</ion-view>
