<ion-view title="{{data.title}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>岗位名称</h1>
            <div class="row">
                <div class="col">公司名称</div>
                <div class="col">2014-08-14发布</div>
            </div>
            <div class="row">
                <div class="col">月薪：2000-4000元/月</div>
                <div class="col">工作地点：武汉</div>
            </div>
            <div class="row">
                <div class="col">工作经验：一年以上</div>
                <div class="col">最低学历：大专</div>
            </div>
            <div class="row">
                <div class="col">招聘人数：10人</div>
                <div class="col">工作性质：全职</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">职位描述</h1>
                <div class="mod_detail_info">
                    分享内容内容，分享内容内容，分享内容内容，分享内容内容
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">职位要求</h1>
                <div class="mod_detail_info">
                    分享内容内容，分享内容内容，分享内容内容，分享内容内容
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">公司简介</h1>
                <div class="mod_detail_info">
                    分享内容内容，分享内容内容，分享内容内容，分享内容内容
                </div>
                <a href="##">查看该公司正在招聘的所有岗位>></a>
            </div>
        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive">
                提交项目
            </button>
            <!--<a class="detail_fund" href="##">我要投资</a>-->
            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i>已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
