<ion-view title="职业机会">
    <ion-content class="has-header">
        <!--筛选 S-->
        <div class="row mod_filter">
            <div class="col">
                <select name="J_industry" id="J_industry">
                    <option value="1">按岗位</option>
                    <option value="1">互联网</option>
                    <option value="1">移动端</option>
                    <option value="1">按行业</option>
                </select>
            </div>
            <div class="col">
                <select name="city" id="J_city">
                    <option value="1">按城市</option>
                    <option value="1">北京</option>
                    <option value="1">上海</option>
                    <option value="1">广州</option>
                </select>
            </div>
            <div class="col">
                <select name="stage" id="J_stage">
                    <option value="1">按工作年限</option>
                    <option value="1">天使</option>
                    <option value="1">A轮</option>
                    <option value="1">B轮</option>
                </select>
            </div>
        </div>
        <!--筛选 E-->

        <ion-list class="mod_list">
            <ion-item class="mod_item" href="#/app/tabs/jobs/1">
                <div class="jobs_hd">
                    <h1 class="jobs_tit positive">岗位名称</h1>
                    <time class="jobs_time">今天发布</time>
                </div>
                <div class="jobs_bd">
                    <div class="jobs_info">
                        <span>北京海淀区</span> | <span>移动互联网</span> | <span>100-500人</span>
                    </div>
                    <div class="jobs_info jobs_info2">
                        <span>月薪：4K-6K</span> | <span>经验：1-3年</span> <span>最低学历：本科</span>
                    </div>
                    <div class="jobs_intro">
                        职业诱惑：上市公司，高成长的发展空间，朝阳产业。
                    </div>
                </div>
            </ion-item>
            <ion-item class="mod_item" href="#">
                <div class="jobs_hd">
                    <h1 class="jobs_tit positive">岗位名称</h1>
                    <time class="jobs_time">今天发布</time>
                </div>
                <div class="jobs_bd">
                    <div class="jobs_info">
                        <span>北京海淀区</span> | <span>移动互联网</span> | <span>100-500人</span>
                    </div>
                    <div class="jobs_info jobs_info2">
                        <span>月薪：4K-6K</span> | <span>经验：1-3年</span> <span>最低学历：本科</span>
                    </div>
                    <div class="jobs_intro">
                        职业诱惑：上市公司，高成长的发展空间，朝阳产业。
                    </div>
                </div>
            </ion-item>
            <ion-item class="mod_item" href="#">
                <div class="jobs_hd">
                    <h1 class="jobs_tit positive">岗位名称</h1>
                    <time class="jobs_time">今天发布</time>
                </div>
                <div class="jobs_bd">
                    <div class="jobs_info">
                        <span>北京海淀区</span> | <span>移动互联网</span> | <span>100-500人</span>
                    </div>
                    <div class="jobs_info jobs_info2">
                        <span>月薪：4K-6K</span> | <span>经验：1-3年</span> <span>最低学历：本科</span>
                    </div>
                    <div class="jobs_intro">
                        职业诱惑：上市公司，高成长的发展空间，朝阳产业。
                    </div>
                </div>
            </ion-item>
            <ion-item class="mod_item" href="#">
                <div class="jobs_hd">
                    <h1 class="jobs_tit positive">岗位名称</h1>
                    <time class="jobs_time">今天发布</time>
                </div>
                <div class="jobs_bd">
                    <div class="jobs_info">
                        <span>北京海淀区</span> | <span>移动互联网</span> | <span>100-500人</span>
                    </div>
                    <div class="jobs_info jobs_info2">
                        <span>月薪：4K-6K</span> | <span>经验：1-3年</span> <span>最低学历：本科</span>
                    </div>
                    <div class="jobs_intro">
                        职业诱惑：上市公司，高成长的发展空间，朝阳产业。
                    </div>
                </div>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
