<ion-view title="{{data.title}}" class="events">
    <ion-content class="has-header">
        <div class="events_banner"></div>
        <article class="events_cnt">
            <h1 class="events_tit positive">“散是满天繁星，聚是火红太阳”，11个城市聚会之深圳报名开始</h1>
            <div class="events_info">活动发起人:<span class="positive">单飞企鹅</span>&nbsp;&nbsp;&nbsp;&nbsp; 时间：<span>2014-08-14</span></div>
            <section class="events_part">
                <h1 class="positive">活动主题</h1>
                <div class="events_part_detail">
                    我是主题哦，我是主题哦，我是主题哦，我是主题哦，我是主题哦，我是主题哦，我是主题哦，我是主题哦，
                </div>
            </section>
            <section class="events_part">
                <h1 class="positive">名额</h1>
            </section>
            <section class="events_part">
                <h1 class="positive">时间</h1>
            </section>
            <section class="events_part">
                <h1 class="positive">地点</h1>
            </section>
            <section class="events_part">
                <h1 class="positive">分享嘉宾</h1>
            </section>
            <section class="events_part">
                <h1 class="positive">活动简介</h1>
            </section>
            <section class="events_part">
                <h1 class="positive">交通指引</h1>
            </section>

            <div class="detail_action">

                <button class="button button-full button-positive">
                    我要报名
                </button>
                <!--<a class="detail_fund" href="##">我要投资</a>-->
                <div class="row mod_share">
                    <div class="col">
                        <a href="javascript:;"><i class="ion-ios7-heart-outline"></i>已赞</a>
                    </div>
                    <div class="col">
                        <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                    </div>
                    <div class="col">
                        <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                    </div>
                </div>
            </div>
        </article>
    </ion-content>
</ion-view>
