<ion-view title="{{data.jobs_name}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.jobs_name}}</h1>
            <div class="row">
                <div class="col">{{data.user_name}}</div>
                <div class="col">{{data.jobs_add_time}}发布</div>
            </div>
            <div class="row">
                <div class="col">月薪：{{data.jobs_salary_start}}K - {{data.jobs_salary_end}}K</div>
                <div class="col">工作地点：{{data.jobs_city}}</div>
            </div>
            <div class="row">
                <div class="col">工作经验：{{data.jobs_experience}}</div>
                <div class="col">学历要求：{{data.jobs_education}}</div>
            </div>
            <div class="row">
                <div class="col">行业：{{data.conpany_type}}</div>
                <div class="col">工作性质：{{data.jobs_profile}}</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">职位描述</h1>
                <div class="mod_detail_info">
                    {{data.jobs_detail}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">职位要求</h1>
                <div class="mod_detail_info">
                    {{data.jobs_requirements}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">公司简介</h1>
                <div class="mod_detail_info">
                    {{data.company_intro}}
                </div>
                <a href="##">查看该公司正在招聘的所有岗位>></a>
            </div>
        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive">
                提交简历
            </button>
            <!--<a class="detail_fund" href="##">我要投资</a>-->
            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i><span>{{data.jobs_zan}} </span>已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
