<ion-view title="{{data.project_name}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.project_name}}</h1>
            <div class="row">
                <div class="col">
                    <span>{{data.user_name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">创始人：{{data.project_founder}}</div>
                <div class="col">团队人数：{{data.project_user_num}}人</div>
            </div>
            <div class="row">
                <div class="col">行业：{{data.project_type}}</div>
                <div class="col">城市：{{data.project_city}}</div>
            </div>
            <div class="row">
                <div class="col">融资金额：{{data.project_financing}}</div>
                <div class="col">融资阶段：{{data.project_stage}}</div>
            </div>
            <div class="row">
                <div class="col">创业时间：{{data.project_date}}</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">项目介绍</h1>
                <div class="mod_detail_info">
                    <p>{{data.project_brief}}</p>

                    {{data.project_intro}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">创始人介绍</h1>
                <div class="mod_detail_info">
                    {{data.project_founder}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">商业计划书</h1>
                <div class="mod_detail_info">
                    {{data.project_detail}}
                </div>
            </div>

        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive" ng-hide="control"  ng-click="submitProject()">
                我有意向
            </button>

            <a href="#/app/tabs/project_edit/{{data.project_id}}" class="button button-full button-positive" ng-show="control">
                修改项目
            </a>
            <button class="button button-full button-assertive" ng-show="control" ng-click="removeForm()">
                删除项目
            </button>

            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"  ng-class="{selected: zan}" ng-disabled="zan" ng-click="zanEvt()"><i ng-disabled="zan" class="ion-ios7-heart-outline"></i>{{data.project_zan}} 赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;" ng-click="shareEvt()"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"  ng-class="{selected: collect}" ng-disabled="collect" ng-click="collectEvt(data.events_user_id)"><i  ng-disabled="collect"  class="ion-ios7-star-outline"></i>{{collect || '收藏'}}</a>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
