<ion-view title="{{list_title || '创业项目'}}">
    <ion-content class="has-header">
        <!--筛选 S-->
        <div class="row" ng-hide="uselist">
            <label class="col mod_select mod_select_col2">
                <select ng-options="m.name for m in industryData"
                        ng-model="selectedIndustry"
                        ng-init="selectedIndustry = industryData[0]"
                        ng-change="changeIndustry(selectedIndustry)">
                </select>
            </label>
            <label class="col mod_select mod_select_col2">
                <select ng-options="m.name for m in cityData"
                        ng-model="selectedCity"
                        ng-init="selectedCity = cityData[0]"
                        ng-change="changeCity(selectedCity)">
                </select>
            </label>
        </div>
        <!--筛选 E-->

        <ion-list class="project_list">
            <div ng-show="uselist">
                <a class="button button-full button-positive" href="#/app/tabs/project_add">发布项目</a>
            </div>
            <ion-item ng-repeat="item in data" href="#/app/tabs/project/{{item.project_id}}">
                <h2 class="positive">{{item.project_name}}</h2>
                <div class="project_info">
                    <img src="{{item.project_img}}" alt="项目LOGO" />
                    <div class="project_info_cnt">
                        <time>{{item.project_date}}</time>
                        <div class="project_detail">
                            {{item.project_brief}}
                        </div>
                    </div>
                </div>
                <div class="project_extra">
                    <span class="project_financing positive">融资:<span>{{item.project_financing}}</span></span>
                    <span>{{item.project_city}}</span> |
                    <span>{{item.project_type}}</span>
                </div>
            </ion-item>
            <div class="no_data" ng-show="nodata">
                暂时没有相关数据！
                <p ng-show="uselist"><a class="button button-positive" href="#/app/project_add">发布创业项目</a></p>
            </div>
        </ion-list>


    </ion-content>
</ion-view>
