<ion-header-bar class="bar-stable bar-positive">
    <h1 class="title">选择注册类型</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeReg()">关闭</button>
    </div>
</ion-header-bar>
<ion-content>
    <div class="register">
        <div class="register_item">
            <a class=" button button-full button-assertive" href="#/app/register_user">单飞企鹅注册</a>
            <p class="register_tips">仅限腾讯离职员工注册</p>
        </div>
        <div class="register_item">
            <a class=" button button-full button-royal" href="#/app/register_company">公司 创业者注册</a>
            <p class="register_tips">腾讯离职员工创业者注册</p>
        </div>
    </div>
</ion-content>

