<ion-view title="{{data.services_organization_name}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.services_organization_name}}</h1>
            <div class="row">
                <div class="col">领域：<span>{{data.services_industry}}</span></div>
                <div class="col">地点：<span>{{data.services_city}}</span></div>
            </div>
            <div class="row">
                <div class="col">规模：{{data.company_size}}</div>
                <div class="col">成立时间：{{data.company_start_day}}</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">服务详情</h1>
                <div class="mod_detail_info">
                    {{data.services_content}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">代表客户</h1>
                <div class="mod_detail_info">
                    {{data.services_client}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">联系我们</h1>
                <div class="mod_detail_info">
                    <p>Email：{{data.company_email}}</p>
                    <p>手机：{{data.company_phone}}</p>
                </div>
            </div>
        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive" ng-hide="control"  ng-click="submitProject()">
                提交项目
            </button>

            <a href="#/app/tabs/services_edit/{{data.services_id}}" class="button button-full button-positive" ng-show="control">
                修改服务
            </a>
            <button class="button button-full button-assertive" ng-show="control" ng-click="removeForm()">
                删除服务
            </button>

            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"  ng-class="{selected: zan}" ng-disabled="zan" ng-click="zanEvt()"><i ng-disabled="zan" class="ion-ios7-heart-outline"></i>{{data.services_zan}} 赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;" ng-click="showShareEvt()"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"  ng-class="{selected: collect}" ng-disabled="collect" ng-click="collectEvt(data.services_user_id)"><i  ng-disabled="collect"  class="ion-ios7-star-outline"></i>{{collect || '收藏'}}</a>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
