<ion-view title="{{data.company_name}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.company_name}}</h1>
            <div class="row">
                <div class="col">领域：<span>{{data.company_type}}</span></div>
                <div class="col">地点：<span>{{data.user_city}}</span></div>
            </div>
            <div class="row">
                <div class="col">规模：{{data.company_size}}</div>
                <div class="col">成立时间：{{data.company_start_day}}</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">服务详情</h1>
                <div class="mod_detail_info">
                    {{data.services_detail}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">公司简介</h1>
                <div class="mod_detail_info">
                    {{data.company_intro}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">联系我们</h1>
                <div class="mod_detail_info">
                    <p>Email：{{data.company_email}}</p>
                    <p>手机：{{data.company_phone}}</p>
                </div>
            </div>
        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive" ng-click="submitProject()">
                提交项目
            </button>
            <!--<a class="detail_fund" href="##">我要投资</a>-->
            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i>已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
