<ion-view title="创业服务">
    <ion-content class="has-header">
        <!--<div class="button-bar">-->
            <!--<a class="button">创业服务</a>-->
            <!--<a class="button">职业机会</a>-->
        <!--</div>-->

        <!--筛选 S-->
        <div class="row mod_filter" ng-hide="uselist">
            <label class="col">
                <select ng-options="m.name for m in industryData"
                        ng-model="selectedIndustry"
                        ng-init="selectedIndustry = industryData[0]"
                        ng-change="changeIndustry(selectedIndustry)">
                </select>
            </label>
            <label class="col">
                <select ng-options="m.name for m in cityData"
                        ng-model="selectedCity"
                        ng-init="selectedCity = cityData[0]"
                        ng-change="changeCity(selectedCity)">
                </select>
            </label>
        </div>
        <!--筛选 E-->

        <ion-list class="mod_list" ng-class="{only_list: 'uselist'}">
            <ion-item class="item mod_item" ng-repeat="item in data" href="#/app/tabs/services/{{item.services_id}}">
                <div class="mod_item_info">
                    <div class="mod_item_col1">
                        <img class="mod_item_img" src="http://img.qian-duan-she-ji.us/140" alt="图片名称" />
                        <button class="button button-small button-positive">收藏</button>
                    </div>
                    <div class="mod_item_col2">
                        <h2 class="positive mod_item_tit">{{item.user_name}} </h2>
                        <div class="mod_item_tags">
                            <span>{{item.user_city}}</span> | <span>{{item.services_industry}}</span>
                        </div>
                        <div class="mod_item_cnt">
                            {{item.services_detail}}
                        </div>
                    </div>
                </div>
            </ion-item>
            <div class="no_data" ng-hide="data.length">
                暂时没有相关数据！
            </div>
        </ion-list>


    </ion-content>
</ion-view>
