<ion-tabs class="tabs-stable tabs-icon-top">

    <ion-tab href="#/app/tabs/events" title="活动" icon-on="ion-ios7-calendar" icon-off="ion-ios7-calendar-outline">
        <ion-nav-view name="eventsContent"></ion-nav-view>
        <!-- Tab 3 content -->
    </ion-tab>
    <ion-tab href="http://wsq.qq.com/" title="家园" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" ng-click="goHome()">
        <ion-nav-view name="houseContent"></ion-nav-view>
        <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab href="#/app/tabs/services" title="服务" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
        <ion-nav-view name="servicesContent"></ion-nav-view>
        <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="更多" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" ng-click="moreClick()">
        <ion-nav-view name="moreContent"></ion-nav-view>
        <!-- Tab 3 content -->
    </ion-tab>

    <ion-tab class="ng-hide" title="其他" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline">
        <ion-nav-view name="otherContent"></ion-nav-view>
        <!-- Tab 1 content -->
    </ion-tab>

    <div id="J_morePop" class="more_pop ng-hide" ng-show="data.value">
        <a href="#/app/tabs/project" ng-click="hideShowPop()">创业项目</a>
        <a href="#/app/tabs/talent" ng-click="hideShowPop()">人才展示</a>
        <a href="#/app/tabs/about" ng-click="hideShowPop()">关于我们</a>
    </div>

</ion-tabs>