<ion-tabs class="tabs-stable tabs-icon-top">

    <ion-tab href="#/app/tabs/home" title="首页" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline">
        <ion-nav-view name="indexContent"></ion-nav-view>
        <!-- Tab 1 content -->
    </ion-tab>
    <ion-tab href="#/app/tabs/events" title="活动" icon-on="ion-ios7-calendar" icon-off="ion-ios7-calendar-outline">
        <ion-nav-view name="eventsContent"></ion-nav-view>
        <!-- Tab 3 content -->
    </ion-tab>
    <ion-tab href="#/app/tabs/house" title="家园" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
        <ion-nav-view name="houseContent"></ion-nav-view>
        <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab href="#/app/tabs/working" title="服务" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
        <ion-nav-view name="workingContent"></ion-nav-view>
        <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab href="#/app/tabs/more" title="更多" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline">
        <ion-nav-view name="moreContent"></ion-nav-view>
        <!-- Tab 3 content -->
    </ion-tab>


</ion-tabs>