<ion-view title="人才展示">
    <ion-content class="has-header">
        <!--筛选 S-->
        <!--筛选 S-->
        <div class="row mod_filter">
            <div class="col">
                <select ng-options="m.name for m in jobsData"
                        ng-model="selectedJobs"
                        ng-init="selectedJobs = jobsData[0]"
                        ng-change="changeJobs(selectedJobs)">
                </select>
            </div>
            <div class="col">
                <select ng-options="m.name for m in cityData"
                        ng-model="selectedCity"
                        ng-init="selectedCity = cityData[0]"
                        ng-change="changeCity(selectedCity)">
                </select>
            </div>
            <div class="col">
                <select ng-options="m.name for m in salaryData"
                        ng-model="selectedSalary"
                        ng-init="selectedSalary = salaryData[0]"
                        ng-change="changeSalary(selectedSalary)">
                </select>
            </div>
        </div>
        <!--筛选 E-->
        <!--筛选 E-->

        <ion-list class="mod_list">
            <ion-item class="item mod_item" ng-repeat="item in data" href="#/app/tabs/talent/{{item.user_id}}">
                <div class="mod_item_info">
                    <div class="mod_item_col1">
                        <img class="mod_item_img" src="http://img.qian-duan-she-ji.us/140" alt="图片名称" />
                        <button class="button button-small button-positive">收藏</button>
                    </div>
                    <div class="mod_item_col2">
                        <h2 class="positive mod_item_tit">{{item.user_nice_name}} </h2>
                        <div class="mod_item_tags">
                            <span>{{item.user_city}}</span> | <span>{{item.user_title}}</span> | <span>{{item.user_jobs_years}}年</span>
                        </div>
                        <div class="mod_item_cnt">
                            {{item.user_intro}}
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
