<ion-view title="{{data.user_nice_name}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>{{data.user_nice_name}}</h1>
            <div class="user_info">
                <img src="http://img.qian-duan-she-ji.us/140" alt="图片名称" />
                <ul class="user_info_list">
                    <li>学历：{{data.user_education}}</li>
                    <li>所在城市：{{data.user_city}}</li>
                    <li>职业：{{data.user_title}}</li>
                    <li>工作经验：{{data.jobs_years}}年</li>
                    <li>期望薪酬：{{data.user_salary}}</li>
                </ul>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">项目经历</h1>
                <div class="mod_detail_info">
                    {{data.user_project_detail}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">工作经验</h1>
                <div class="mod_detail_info">
                    {{data.user_jobs_detail}}
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">自我评价</h1>
                <div class="mod_detail_info">
                    {{data.user_intro}}
                </div>
            </div>
        </section>

        <div class="mod_detail_action">

            <button ng-disabled="isjoin" class="button button-full button-positive" ng-click="submitJob()">
                {{joinBtnName || '发出邀请'}}
            </button>
            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i><span>{{data.user_zan}}</span> 已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
