<ion-header-bar class="bar-stable bar-positive">
    <h1 class="title">用户资料修改</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closePop()">关闭</button>
    </div>
</ion-header-bar>
<ion-content>
    <form name="signup_form" class="mod_form"  ng-submit="userEditSubmit(signup_form,image.resized)">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">手机号码</span>
                {{data.user_phone}}
            </label>

            <label class="item item-input">
                <span class="input-label">用户昵称</span>
                <input type="text" placeholder="勿写真实姓名 展示在人才库中" ng-model="data.user_nice_name" name="user_nice_name" required>
                <i class="icon ion-checkmark-circled balanced" ng-show="signup_form.user_nice_name.$valid"></i>
                <i class="icon ion-close-circled assertive" ng-show="signup_form.user_nice_name.$invalid && signup_form.user_nice_name.$dirty"></i>
            </label>

            <div class="upload">
                <div class="upload_hd">用户头像</div>
                <div class="upload_bd">
                    <img ng-model="image" ng-src="{{image.resized.dataURL || editimage}}" src="./img/upload.jpg"/>
                    <input type="file"
                           class="upload_inp"
                           accept="image/*"
                           image="image"
                           resize-max-height="300"
                           resize-max-width="150"
                           resize-quality="0.7"
                            />
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">修改</button>
        </div>
    </form>
</ion-content>

