<ion-view title="{{data.title}}" class="mod_detail">
    <ion-content class="has-header">
        <section class="mod_detail_hd">
            <h1>XX投资公司</h1>
            <div class="row">
                <div class="col">活动发起人：<span>单飞企鹅</span></div>
                <div class="col">2014-08-14</div>
            </div>
            <div class="row">
                <div class="col">名额：200人</div>
                <div class="col">城市：深圳</div>
            </div>
            <div class="row">
                <div class="col">投资国的项目：迅雷、酷狗、火石</div>
            </div>
        </section>
        <section class="mod_detail_bd">
            <div class="mod_detail_part">
                <h1 class="positive">公司简介</h1>
                <div class="mod_detail_info">
                    分享内容内容，分享内容内容，分享内容内容，分享内容内容
                </div>
            </div>
            <div class="mod_detail_part">
                <h1 class="positive">联系我们</h1>
            </div>
        </section>

        <div class="mod_detail_action">

            <button class="button button-full button-positive">
                提交项目
            </button>
            <!--<a class="detail_fund" href="##">我要投资</a>-->
            <div class="row mod_share">
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-heart-outline"></i>已赞</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-redo-outline"></i>分享</a>
                </div>
                <div class="col">
                    <a href="javascript:;"><i class="ion-ios7-star-outline"></i>收藏</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
