/* Empty. Add your own CSS if you like */
.home_row select{ width: 100%;}
.home_list h2{font-weight: 700; margin-top: -5px;}
.home_list .home_item_cnt{white-space: normal; max-height: 60px; overflow: hidden;}
.home_list .list{ margin: 0 15px; font-size: 14px;}
.home_list .item{border-top: 2px solid #4a87ee; margin-bottom: 10px;}
.home_info{ position: relative; padding: 0 0 0 80px; }
.home_info img{ position: absolute; top: 0; left: 0; width: 70px; height: 70px;}
.home_info_cnt{ white-space: normal; height: 60px; overflow: hidden;}
.home_detail{white-space: normal; margin-top: 5px;}
.home_detail .positive{padding-right: 5px;}

/*详情页*/
.detail_banner{width: 100%;}
.detail_cnt{padding: 15px; color: #5a5a5a;}
.detail_tit{font-size: 20px; font-weight: 700;}
.detail_info{margin-bottom: 5px;}
.detail_info span{padding: 0 5px;}
.detail_summary{padding: 10px; background: #f5f5f5; border: 1px solid #dedede; margin: 10px 0 }
.detail_action{text-align: center; margin-top: 20px;}
.detail_action .button{margin: 10px auto;}
.detail_share a{color: #5a5a5a; text-decoration: none; display: block; height: 26px; line-height: 26px;}
.detail_share i{font-size: 20px; vertical-align: middle; margin-right: 5px;}