
/*===== 公共模块 =====*/
.hide{display: none;}
/*分享*/
.mod_share a{color: #5a5a5a; text-decoration: none; display: block; height: 26px; line-height: 26px;}
.mod_share a.selected,
.mod_share a.collect{color: #4a87ee;}
.mod_share i{font-size: 20px; vertical-align: middle; margin-right: 5px;}
.mod_share_pop{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); display: none;}
.mod_share_pop.show{display: block; z-index: 1000;}
/*列表*/
.mod_list .list{margin: 0 15px; color: #5a5a5a;}
.only_list .list{margin-top: 15px !important;}
.mod_item{border-top: 2px solid #4a87ee; margin-bottom: 10px;font-size: 12px;}
.mod_item .item-content{padding-right: 16px;}
    .mod_item_col1{ width: 70px; float: left; margin-right: 10px; text-align: center;}
        .mod_item_img{ width: 70px; height: 70px; display: block; margin-bottom: 10px;}
    .mod_item_col2{overflow: hidden;}
        .mod_item_tit{font-weight: 700; margin-top: -5px;}
        .mod_item_cnt{white-space: normal; max-height: 60px; margin-top: 6px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;}
/*select*/
.mod_filter select{ width: 100%;}

/*重新icnoc*/
.item-text-wrap{padding: 6px 0 5px 16px}
.item-text-wrap .input-label{max-width: 320px; width: auto;}

/*表单验证*/
.mod_form .icon{ position: absolute; right: 10px; top: 50%; margin-top: -10px;  font-size: 16px; }
.mod_form_error{margin:0 15px; padding-bottom: 10px;}

/*select*/
.mod_select_col2{ padding-left: 40px;}
.mod_select{position: relative;}
.mod_select select{border: none; padding-right: 20px; width: 90%; background: #fff;color: #333;text-indent: 0.01px;text-overflow: '';white-space: nowrap;font-size: 14px;cursor: pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;direction: ltr;}
.mod_select:after{position: absolute;top: 50%;right: 16px;margin-top: -3px;width: 0;height: 0;border-top: 5px solid;border-right: 5px solid rgba(0, 0, 0, 0);border-left: 5px solid rgba(0, 0, 0, 0);color: #999;content: "";pointer-events: none;}
/*报名人数*/
.mod_user_list{margin: 15px;}
    .mod_user_list_hd{font-size: 14px; font-weight: 700; margin-bottom: 5px;}


.home_list h2{font-weight: 700; white-space: normal;}
.home_list .home_item_cnt{white-space: normal; max-height: 60px; overflow: hidden;}
.home_list .list{ margin: 0 15px; font-size: 14px;}
.home_list .item{border-top: 2px solid #4a87ee; margin-bottom: 10px;}
.home_info{ position: relative; padding: 0 0 0 80px; }
.home_info img{ position: absolute; top: 0; left: 0; width: 70px; height: 70px;}
.home_info_cnt{ white-space: normal; height: 60px; overflow: hidden;}
.home_detail{white-space: normal; margin-top: 5px;}
.home_detail .positive{padding-right: 5px;}

/*活动页面*/
.events_list .list{ margin: 10px 15px; font-size: 14px;}
.events_list .item{border-top: 2px solid #4a87ee; margin-bottom: 10px;}
.events_list .item-content{ padding-right: 16px;}
.events_list h2{font-weight: 700; white-space: normal;}
    /*.events_info{position: relative; padding: 0 0 0 80px;}*/
    .events_info img{ width: 100%; min-height: 100px; /* height: 100px;*/}
    .events_info_cnt{white-space: normal; min-height: 70px;}
    .events_info_cnt time{color: #666;}

/*活动详情页*/
.mod_detail{font-size: 12px;}
.mod_detail_hd{ border: 1px solid #dedede; margin: 10px 15px;}
.mod_detail_hd h1{ background: #4a87ee; font-size: 16px; font-weight: 700; color: #fff; padding: 10px; margin-bottom: 0}
.mod_detail_bd{margin: 10px 15px;border: 1px solid #dedede; padding: 10px; }
    .mod_detail_part{margin-bottom: 10px;}
    .mod_detail_part h1{font-size: 14px; font-weight: 700; margin-bottom: 5px;}
    .mod_detail_action{margin: 15px;}
.mod_detail_img{margin: 10px 15px 0 15px;}
.mod_detail_img img{ width: 100%;}

/*详情页*/
.detail_banner{width: 100%;}
.detail_cnt{padding: 15px; color: #5a5a5a;}
.detail_tit{font-size: 20px; font-weight: 700;}
.detail_info{margin-bottom: 5px;}
.detail_info span{padding: 0 5px;}
.detail_summary{padding: 10px; background: #f5f5f5; border: 1px solid #dedede; margin: 10px 0 }
.detail_action{text-align: center; margin-top: 20px;}
.detail_action .button{margin: 10px auto;}


/*活动详情页*/
.events_banner{ height: 150px; position: relative; background: #f2f2f2;}
.events_cnt{padding: 15px; color: #5a5a5a;}
.events_tit{font-size: 20px; font-weight: 700;}
.events_info{font-size: 12px;}
.events_info2{ margin: 3px 15px;}
.events_info2 h3{font-size: 16px; margin-bottom: 5px; font-weight: 700}
.events_part{ margin-bottom: 10px;}
.events_part h1{font-size: 14px; margin-bottom: 5px;}
.events_detail{height: 60px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;}


/*职业机会*/
.jobs_hd{margin-bottom: 3px;}
.jobs_tit{font-weight: 700; font-size: 14px; display: inline-block; margin: 0 10px 0 0; vertical-align: middle;}
.jobs_time{font-size: 12px; display: inline-block; color: #333; vertical-align: middle;}
.jobs_info2{margin-top: 8px;}
.jobs_intro{white-space: normal;}

/*公司详情页*/
.company .mod_detail_hd{border-bottom: 0;}
.company_intro{padding: 15px;}
.company_jobs{margin-top: 20px;}
.company_jobs h2{font-size: 14px; text-indent: 15px; font-weight: 700;}
.company_jobs_list time{float: right; font-size: 12px; color: #999;}

/*vip*/
.vip_hd{margin: 15px 15px 30px 15px;  position: relative;}
    .vip_img{position: absolute; top: 0 ; left: 0; width: 75px; height: 75px;}
    .vip_info{margin-left: 85px; min-height: 75px;}
    .vip_info h1{font-size: 14px; font-weight: 700; padding-top: 10px;}
    .vip_auth{position: absolute; right: 0; top: 20px; width: 30px; height: 30px; background: #ccc; }
.vip_bd{margin: 15px; }
.vip_bd .item{ border: 1px solid #dedede;border-left: 0 ; border-right: 0;font-size: 12px; padding: 10px 15px;}
.vip_bd .item:first-child{border-top: 0;}
.vip_bd .icon{position: absolute; top: 18px; right: 10px;}


/*浮层*/
.mod_pop{ position: absolute; padding: 2px; border-radius: 5px;  bottom: 55px; width: 90px; height: 120px; background: #f2f2f2; }
.mod_pop a{display: block; height: 40px; line-height: 40px; text-align: center; color: #000; font-size: 14px; border-bottom: 1px solid #ccc; text-decoration: none;}
.mod_pop a:last-child{border-bottom: 0;}

.more_pop{left: 80px;}
.services_pop{ left: 33%; height: 122px; }

/*创业项目*/
.project_list .list{ margin: 0 15px; font-size: 14px;}
.project_list .item{border-top: 2px solid #4a87ee; margin-bottom: 10px;}
.project_list .item-content{ padding-right: 16px;}
.project_list h2{font-weight: 700; white-space: normal;}
.project_info{position: relative; padding: 0 0 0 80px;}
.project_info img{ position: absolute; top: 0; left: 0; width: 70px; height: 70px;}
.project_info_cnt{white-space: normal; min-height: 70px;}
.project_detail{height: 52px;overflow: hidden; margin-bottom: 5px; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4; -webkit-box-orient: vertical; font-size: 12px; line-height: 18px;}
.project_extra span{display:inline-block; vertical-align: middle; font-size: 12px}
    .project_financing{font-size: 14px; width: 70px; margin-right: 5px;}
    .project_financing span{font-size: 16px; font-weight: 700}

/*人才展示*/
.user_info{ position: relative;}
.user_info img{ width: 75px; height: 75px; position: absolute; top: 15px; left: 15px;}
.user_info_list{ margin-left: 15px; min-height: 100px; padding: 13px 0;}

/*关于我们*/
.about_cnt{padding: 15px;}

/*个人中心*/
.menu_user{position: relative}
.menu_user img{position: absolute; width: 75px; height: 75px; left: 15px; top: 10px;}
    .menu_user_info{padding:15px 0 15px 100px; height: 95px; display: table-cell; vertical-align: middle;}
    .menu_user_info p{margin-bottom: 3px;}
        .menu_user_name{font-size: 16px; font-weight: 700;}

/**/
.no_data{height: 100px; line-height: 100px; text-align: center; font-size: 14px;}

/*注册*/
.register_item{ margin: 100px 15px 0 15px;}
.register_tips{display: block; text-align: center; color: #999;}

/*上传*/
.upload{ padding-left: 16px;}
    .upload_hd{font-size: 16px; padding: 7px 10px 7px 0;}
    .upload_bd{position: relative;}
    .upload_bd img{ width: 80px; height: 80px; margin: 0 auto;}
        .upload_inp{ opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0;}


/**/
.login_tip{margin: 15px}


/*筛选简历*/
.open .menu_jobs_bd{display: block;}
.menu_jobs_bd{display: none}
.menu_jobs_bd .item{font-size: 14px;}
.menu_jobs_bd .item-radio .item-content{padding: 8px 49px 8px 20px}
.menu_jobs_bd .item-radio .radio-icon{padding: 7px 19px; font-size: 16px;}
.menu_jobs_bd .item-content{background: #f7f7f7;}

/*日期选择器*/
.picker input{ width: 30%;float: left;}